<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name%></h2>
      <% if @user.id==@current_user.id%>
        <%= link_to("modify", "/users/#{@user.id}/edit") %>
        <%#= button_to("delete", "/users/#{@user.id}",{method:"delete"}) %>
        <%= button_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %>
      <%end%>
    </div>
    <% @user.posts.each do |post| %>
      <div class="posts-index-item">
        <%= link_to(post.title, "/posts/#{post.id}") %>
      </div>
    <% end %>
  </div>
</div>