<div id="welcomeCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#welcomeCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#welcomeCarousel" data-slide-to="1"></li>
    <li data-target="#welcomeCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active welcome-carousel-image1">
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to Quo</h1>
          <p>Here is the place you can feel free to talk about your inner thoughts.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item welcome-carousel-image2">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Join us</h1>
          <p>Once you register you can post, comment, message to your friend. All in anonymous.</p>
          <p><a class="btn btn-lg btn-primary" href="/users/sign_up" role="button">Sign up now</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item welcome-carousel-image3">
      <div class="container">
        <div class="carousel-caption text-right">
          <h1>Mock index..</h1>
          <p>Here is the example page to show you briefly how our commmunity works..</p>
          <p><a class="btn btn-lg btn-primary" href="/posts" role="button">Mock</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#welcomeCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#welcomeCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- <div class="about-main"> -->
<div class="container">
  <h2>About us</h2>
  <p>
    Our wish is to make a place where people can feel relax to talk/ share their personal issue to the other people in anonymous way.
    Not to put pressure on yourself too much, but to release yourself to others without having stressed.
    To exchage our inner thoughts might assist us to have new perspective to see ourselves.
    Such that we hope this site could be a place where you could have opportunity to set your mind refresh :)
  </p>
  <!--image code
  <img class="about-img" src="/parrot.png">-->
  <img class="rounded-pill img-fluid" src="/parrot.png">

</div>