<div class="about-main">
  <h2>About us</h2>
  <p>
    Our wish is to make a place where people can feel relax to talk/ share their personal issue to the other people in anonymous way.
    Not to put pressure on yourself too much, but to release yourself to others without having stressed.
    To exchage our inner thoughts might assist us to have new perspective to see ourselves.
    Such that we hope this site could be a place where you could have opportunity to set your mind refresh :)
  </p>
  <!--image code
  <img class="about-img" src="/pizza.png">-->
  <img class="about-img" src="/parrot.png">
</div>