<div class="about-main">
  <h2>Thanks</h2>
  <p>
    Your request has been sent... please wait the response :)
  </p>
  <!--image code
  <img class="about-img" src="/pizza.png">-->
  <img class="about-img" src="/quo.png">
</div>