<div class="main meals-index">
    <div class="container">
        <h1 class="users-heading">all posts</h1>
        <% @posts.each do |post|%>
        <div class="posts-index-item">
            <%= link_to(post.title,"/posts/#{post.id}")%>
            <div class="post-user-name">
                <%= link_to(post.user.name,"/users/#{post.user.id}")%>
            </div>
        </div>
        <% end%>
    </div>
</div>