<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <div style="text-align: center">
        <h1>Welcome to Quo, (devise mailer)
            <%= @resource.name %>
        </h1>
        <%#  attachments.inline['quo.png'] = File.read(Rails.public_path.join('quo.png')) %>
        <%#byebug%>
        <%= image_tag attachments['quo.png'].url, width: '200', height: '200' %>
        <p style="font-family:verdana">
            You have successfully signed up to Quo,
            your username is:
            <%= @resource.name %>.<br>

        </p>
        <p style="color:blue">
            <p>You can confirm your account email through the link below:</p>
            <p>
                <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)%>
            </p>
        </p>
        <p>Thanks for your interest and have a great day!</p>
    </div>
</body>

</html>